[submodule "src/vscode-json-languageservice"]
	path = src/vscode-json-languageservice
	url = https://github.com/Microsoft/vscode-json-languageservice.git
[submodule "vscode-json-languageservice"]
	path = vscode-json-languageservice
	url = https://github.com/Microsoft/vscode-json-languageservice.git
